html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.side-bar {
  width: 20%;
  height: 100%;
  background-color: #f0f0f0; /* Optional: Add a background color for visibility */
}

.greetings {
  width: 70%;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
    align-items: center;
  }

  .side-bar,
  .greetings {
    width: 100%;
  }
}
